#Dashboardwrap {
  display: flex;
  justify-content: center;
  width: 100%;
}
.dashboard-container {
  display: block;
}
.DashB-ticket-container {
  display: flex;
  padding: 30px;
  height: 100vh;
  overflow: scroll;
}
/* ---Tickets--- */

#tickets-wrap #ticket-links {
  display: flex;
  width: 100%;
}
#tickets-wrap #ticket-links > * {
  display: flex;
  background-color: gray;
  width: 100%;
  margin: 2px;
  padding: 30px;
  align-items: center;
}
#tickets-wrap .ticket-color {
  width: 15px !important;
  margin: 2px;
  padding: 15px !important;
}
